export EXP_ROOT=/home/darla/experimento

export HA_CONTAINER=ha-test
export HA_BASE_URL=http://127.0.0.1:8123
export HA_ENTITY_ID=sensor.sensor_fuzzing
export HA_TOKEN=''

export MQTT_HOST=127.0.0.1
export MQTT_PORT=1883
export MQTT_TOPIC=homeassistant/sensor/temp
export MQTT_PAYLOAD='{"temperature": 22.5}'

export BASELINE_FILE=/home/darla/experimento/baseline.json
export FUZZ_DURATION=60
export FUZZ_SEED=1

export RESULTS_DIR=/home/darla/experimento/resultados

export RESTORE_CANARY_BEFORE_STATE_CHECK=1
export CHECK_STATE_DURING_FUZZ=0
export STATE_SETTLE_SECONDS=3
